
.sn-pro-class> {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body{
    display: grid;
    overflow: hidden;
    grid-template-columns: 15% 85%;
    grid-template-rows: 175px;
    background-color: aqua;
    font-family: "SN Pro", sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
/* sidebar */
#dashboard-sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 50px;
    height: 100vh;
    width: 300px;
    background-color: #4287f5;
    color: white;
    align-items: center;
    align-content: center;
    justify-items: center;
}
#dashboard-sidebar-logo  > p{
    font-size: 30px;
    margin: 0;
}
#sidebar-group-one, #sidebar-group-two, #dashboard-sidebar-logo {
    display: grid;
    grid-template-columns: 10% 70%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 24px;
    padding: 10px;
}
#sidebar-group-one > a, #sidebar-group-two > a{
    color: white;
    text-decoration-line: none;
}

/* topbar */
#dashboard-topbar {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 80px auto;
    grid-template-columns: 50% 50%; 
    align-items: center;  
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    gap: 20px;
    box-sizing: border-box;
}
#search-bar {
    width: 80%;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(225, 232, 240);

}
#topbar-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    width: 80%;
    gap: 30px;
    height: 100%;
    font-size: 30px;

}
#topbar-icons > a {
    color: black;
    text-decoration-line: none;
}
#topbar-user-info {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-left: 20px;
    gap: 20px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}
#topbar-greeting-user-name {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;

}
#topbar-greeting-user-name > h1, #topbar-greeting-user-name > p {
    margin: 0;
}
#topbar-user-info-btns {
    display: flex;
    height: 40px;
    gap: 45px;
    width: 80%;
    justify-content: end;
}
#topbar-user-info-btns > button {
    border-radius: 30px;
    background-color:#4287f5;
    color: white;
    font-size: 20px;
    width: 125px;
    cursor: pointer;
    
}
#topbar-user-info-btns > button:hover {
    background-color: #1c3b6d;
}

/*Main Container - Holds Projects/Announcements/Trending Containers*/
#dashboard-main-container {
    box-sizing: border-box;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 70% 40%;
    max-width: calc(100vw - 275px);
    width: 100%;
    height: 100%;
    background-color: rgba(225, 232, 240);
    box-shadow: 0px 5px 5px rgba(205, 208, 213) inset;
}
/* Hold "Your Projects" heading and Projects container*/
#main-projects-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: calc(100vh - 200px);

}
#main-projects-container > h2 {
    margin: 0;
}

/*Inside the main-projects-container -- holds the project cards*/
#project-cards-container { 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 30%);
    width: 100%;
    height: 100%;
    gap: 20px;

}
/*Styles Project Cards*/
.project-card {
    box-sizing: border-box;
    border-left: 8px solid goldenrod;
    background-color: white;
    border-radius: 10px;
    height: 225px;
    width: 425px;
    box-shadow: 5px 5px 5px grey;
}
.project-card-interior {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.project-card-interior-text > p{
    color: rgb(119, 119, 119)
}
.project-card-interior-text > p, .project-card-interior-text > h3{
    margin: 0;
    padding: 0;
}
.project-card-buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 100%;
}

/*Announcements and Trending Container*/
#main-announcements-trending-container {
    display: flex;
    flex-direction: column;
    margin: auto; 
    box-sizing: border-box;
    gap: 25px;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: calc(100vh - 200px);
    padding-top: 10px;
}

#main-announcements-container, #main-trending-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    
}
#main-announcements-container > h2, #main-trending-container > h2{
    margin: 0;
}

#announcement-card, #trending-card {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 50%;
    box-shadow: 5px 5px 5px grey;
}
#announcement-card-interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 80%;
}
#announcement-card-interior > div:nth-child(-n+2) {
    border-bottom: 3px solid gainsboro;
}
.announcement-text > p{
    color: rgb(119, 119, 119);
}
.announcement-text > p, .announcement-text > h4{
    margin: 0;
    padding: 0;
}
#trending-card {
    display: flex;
    flex-direction: column;
    height: 90%;
}
#trending-account-container {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: repeat(4, 25%);
    width: 90%;
    margin: auto;
    justify-content: center;
    align-content: center;

}
.trending-account-text > h4, .trending-account-text > p {
    margin: 0;
    padding: 0;
}
.trending-account-text > p{
    color: rgb(119, 119, 119)
}



