body{
    display: grid;
    grid-template-columns: 300px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
/* sidebar */
#dashboard-sidebar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: #4287f5;
    color: white;
}
#dashboard-sidebar-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#sidebar-group-one, #sidebar-group-two {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap: 30px;
    height: fit-content;
    font-size: 24px;
}
#sidebar-group-one > a, #sidebar-group-two > a{
    color: white;
    text-decoration-line: none;
}

/* topbar */
#dashboard-topbar {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 80px auto;
    grid-template-columns: 75% auto;;
    height: 250px;
    width: 100%;
    background-color: lightgray;
    padding-left: 40px;
}
#search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 20px;
    box-sizing: border-box;
}
#search-bar {
    width: 80%;
    height: 40px;
    border-radius: 30px;
}
#topbar-icons {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    padding: 20px;
    margin: auto;
    gap: 30px;
    height: 100px;
    font-size: 24px;
}
#topbar-icons > a {
    color: black;
    text-decoration-line: none;
}
#topbar-user-info {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 20px;
}
#topbar-user-info > img{
    padding: 10px;
}
#topbar-greeting-user-name {
    display: grid;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 20%;
    width: 100%;
}

#topbar-user-info-btns {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    height: 50px;
    width: 100%;
    border: 1px solid orange;

}
#topbar-user-info-btns > button {
    border-radius: 30px;
    background-color:#4287f5;
    color: white;
    font-size: 16px;
    width: 150px;

}