
.sn-pro-class> {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


body{
    display: grid;
    /* overflow: hidden; */
    grid-template-columns: 15% 85%;
    grid-template-rows: 200px;
    grid-row: 1/-1;
    background-color: aqua;
    font-family: "SN Pro", sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
/* sidebar */
#dashboard-sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 50px;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: #4287f5;
    color: white;
}
#dashboard-sidebar-logo  > p{
    font-size: 30px;
    margin: 0;
    padding-left: 20px;
}
#sidebar-group-one, #sidebar-group-two, #dashboard-sidebar-logo {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    font-size: 24px;
}
#sidebar-group-one > a, #sidebar-group-two > a{
    color: white;
    text-decoration-line: none;
}

/* topbar */
#dashboard-topbar {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 80px auto;
    grid-template-columns: 60% 40%;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;    
}
#search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 20px;
    box-sizing: border-box;
}
#search-bar {
    width: 80%;
    height: 40px;
    border-radius: 30px;
}
#topbar-icons {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    padding: 20px;
    margin: auto;
    gap: 30px;
    height: 100px;
    font-size: 24px;
}
#topbar-icons > a {
    color: black;
    text-decoration-line: none;
}
#topbar-user-info {
    display: grid;
    grid-template-columns: 10% 50% 30%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}

#topbar-greeting-user-name {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;

}
#topbar-greeting-user-name > h1, #topbar-greeting-user-name > p {
    margin: 0;
}


#topbar-user-info-btns {
    display: flex;
    height: 50px;
    gap: 10px;
    width: 100%;
}
#topbar-user-info-btns > button {
    border-radius: 30px;
    background-color:#4287f5;
    color: white;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    
}
#topbar-user-info-btns > button:hover {
    background-color: #1c3b6d;
    outline: 2px groove goldenrod;
}
/*Main Container - Holds Projects/Announcements/Trending Containers*/
#dashboard-main-container {
    grid-column: 2/2;
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    background-color: rgba(225, 232, 240);
    box-shadow: 0px 5px 5px rgba(205, 208, 213) inset;
    

}


#main-projects-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*Inside the main-projects-container*/
#project-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    gap: 20px;
}
/*Styles Project Cards*/
.dashboard-main-card {  
    box-sizing: border-box;
    border-left: 5px solid goldenrod;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
}

#main-announcements-trending-container {
    margin: 0 auto;
    display: grid;
    box-sizing:border-box;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    width: 100%;
    gap: 25px;
}
#main-announcements-container {
    grid-row: 1 / span 2;
}
#announcement-card {
    height: 100%;
}
#main-trending-container {
    grid-row: 3 / span 2 ;
    outline: 5px solid purple;
}
#trending-card {
    height: 100%;
}